<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Book Table</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Navbar</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:3308/viewTables/homePageRender">Home</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <a class="btn btn-outline-danger my-2 my-sm-0" href="http://localhost:3308/viewTables/login" role="button">Logout</a>
        </form>
      </div>
    </nav>

    <div class="container mt-4">

      {{!-- show the data I am getting in tabuolar form [
      RowDataPacket {
      timeslot: '12PM to 2PM',
      tot_table: 10,
      avail_table: 2
      },
      RowDataPacket {
      timeslot: '1PM to 3PM',
      tot_table: 12,
      avail_table: 7
      },
      RowDataPacket {
      timeslot: '2PM to 4PM',
      tot_table: 8,
      avail_table: 3
      },
      RowDataPacket {
      timeslot: '3PM to 5PM',
      tot_table: 6,
      avail_table: 2
      },
      RowDataPacket {
      timeslot: '4PM to 5PM',
      tot_table: 15,
      avail_table: 3
      },
      RowDataPacket {
      timeslot: '8PM to 9PM',
      tot_table: 15,
      avail_table: 5
      }
      ] --}}

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Time Slot</th>
            <th>Total Tables</th>
            <th>Available Tables</th>
          </tr>
        </thead>
        <tbody>
          {{#each data}}
          <tr>
            <td>{{this.timeslot}}</td>
            <td>{{this.tot_table}}</td>
            <td>{{this.avail_table}}</td>
          </tr>
          {{/each}}
        </tbody>

      <h2>Book Table</h2>
      <form action="/viewTables/bookTable" method="get">
        <div class="form-group">
          <label for="res_id">Restaurant ID:</label>
          <input type="text" class="form-control" id="res_id" placeholder="Enter restaurant ID" name="res_id">
        </div>
        <div class="form-group">
          <label for="timeslot">Time Slot:</label>
          <input type="text" class="form-control" id="timeslot" placeholder="Enter time slot" name="timeslot">
        </div>
        <div class="form-group">
          <label for="cust_id">Customer ID:</label>
          <input type="text" class="form-control" id="cust_id" placeholder="Enter customer ID" name="cust_id">
        </div>
        <div class="form-group">
          <label for="num_tables">Number of Tables:</label>
          <input type="number" class="form-control" id="num_tables" placeholder="1 table has a capacity of 4 memebers" name="num_tables">
        </div>
        {{!-- create a button that show alert box on click --}}
        
        <button type="submit" onclick="alert('Table Booked Successfully')" class="btn btn-primary">Submit</button>
      </form>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
