<!DOCTYPE html>
<html>
  <head>
    <title>Get Restaurant Info</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Chew and Review</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:3308/viewTables/homePageRender">Home</a>
          </li>
        </ul>
      </div>
    </nav>
    
    <div class="container mt-3">
      <h1>Get Restaurant Info</h1>
      <form action="/viewTables/getShowReviews" method="get">
        <div class="form-group">
          <label for="res_id">Restaurant ID</label>
          <input type="text" class="form-control" id="res_id" name="res_id">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      {{#if data}}
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Review ID</th>
              <th scope="col">Reviewer Name</th>
              <th scope="col">Rating</th>
              <th scope="col">Comment</th>
            </tr>
          </thead>
          <tbody>
            {{#each data}}
              <tr>
                <td>{{review_id}}</td>
                <td>{{reviewer_name}}</td>
                <td>{{rating}}</td>
                <td>{{comment}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      {{/if}}
    </div>
    
    <!-- Include Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>


{{!-- <!DOCTYPE html>
<html>
  <head>
    <title>Get Restaurant Info</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Chew and Review</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:3308/viewTables/homePageRender">Home</a>
          </li>
        </ul>
      </div>
    </nav>
    
    <div class="container mt-3">
      <h1>Get Restaurant Info</h1>
      <form action="/viewTables/getShowReviews" method="get">
        <div class="form-group">
          <label for="res_id">Restaurant ID</label>
          <input type="text" class="form-control" id="res_id" name="res_id">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      {{!-- <div class="my-5">
			<button type="button" class="btn btn-primary mr-3">Write a Review</button>
			<button type="button" class="btn btn-primary">Book a Table</button>
		</div> --}}

    </div>
    
    <!-- Include Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html> --}}
