<!DOCTYPE html>
<html>
<head>
	<title>Node.js Queries</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
	<!-- Navbar -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Navbar Name</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Actions
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="http://localhost:3308/viewTables/reviewRender">Write a Review</a>
              <a class="dropdown-item" href="http://localhost:3308/viewTables/bookTableRender">Book a Table</a>
			  <a class="dropdown-item" href="http://localhost:3308/viewTables/fetchdataReviewsRender" >See Review</a>
			  <a class="dropdown-item" href="http://localhost:3308/viewTables/getMenuRender" >See Menu</a>
			  <a class="dropdown-item" href="http://localhost:3308/viewTables/homepageRender">Home</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
	<!-- Main content -->
	<div class="container my-5">
		<h1>Welcome, Customer</h1>
		<p>Here are some restaurants:</p>


		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Restaurant_id</th>
					<th>Username</th>
					<th>Timings</th>
					<th>Average Rating</th>
				</tr>
			</thead>
			<tbody>
				{{#each data}}
				<tr>
					<td>{{this.res_id}}</td>
					<td>{{this.username}}</td>
					<td>{{this.timings}}</td>
					<td>{{this.avg_rating}}</td>
				</tr>
				{{/each}}
			</tbody>

		<!-- Button group -->
		{{!-- create button to redirect on  --}}
	</div>

	<!-- Bootstrap JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
